<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스프링 게시판 - Fragment</title>
    <link rel="stylesheet" th:href="@{../../static/board/css/common.css}">
    <link rel="stylesheet" th:href="@{/board/css/write.css}">
</head>
<body>
<div class="container">
<!--    th:block은 그냥 논리적으로 묶어주는 것이다. 랜더링될 때에는 없어지는 태그이다.-->
    <th:block th:fragment="nav-header(title)">
    <h1 th:text="${title}">타이틀</h1>
    <div class="nav">
        <a th:href="@{write.html}">새글</a>
        <a th:href="@{list.html}">목록으로 이동</a>
    </div>
    </th:block>
</div>
</body>
</html>
