<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/member/css/login.css">
</head>
<body>

<div class="container">

    <h1 class="logo">NAVER</h1>

    <div class="login-box">

        <input type="text" placeholder="아이디 또는 전화번호">

        <input type="password" placeholder="비밀번호">

        <div class="option-area">

            <label>
                <input type="checkbox">
                로그인 상태 유지
            </label>

            <label class="ip">
                IP 보안
                <input type="checkbox">
            </label>

        </div>

        <div class="button-area">

            <button class="passkey">🔑 패스키 로그인</button>

            <button class="login">로그인</button>

        </div>

        <div class="sub-login">
            <a href="#">QR 코드 로그인</a>
            <span>|</span>
            <a href="#">일회용 번호 로그인</a>
        </div>

    </div>

    <div class="footer">
        <a href="#">아이디 찾기</a>
        <span>|</span>
        <a href="#">비밀번호 찾기</a>
        <span>|</span>
        <a href="#" class="join">회원가입</a>
    </div>

</div>

</body>
</html>